a{
  color:#66ccff;
  text-decoration: none;
}

.MainTitle{
  font-size:45px;
}

.MenuContainer{
  text-align: left;
  background-color: #cccccc;
  padding-left:150px;
}

.Menu{
  color: black;
  padding-left:30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:60px;
  font-size:16px;
  display: table-cell;
}

.selected{
  font-size:18px;
  font-weight: bold;
}

/*Table*/
.dataTable{
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}

.resultTableTd{
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 8px;
  min-width:70px;
}

.resultTableTdLast{
  border-bottom: 1px solid gray;
  padding: 5px;
  text-align: center;
}

.searchTable{
  width: 1440px;
  max-width: 1440px;
  text-align: left;
}

.TableTitleTdPad1{
  padding:10px;
  color:black;
  font-weight: bold;
}

.TableTitleTdPad2{
  padding:20px;
  color:black;
  font-weight: bold;
}

.serarchTableInput{
  width:200px;
}
.orderDetailTableInput{
  max-width:80px;
}

.searchTableRadio{
  padding:30px;
}

.searchTableCheck{
  padding:20px;
}

.textLink{
  font-size: 15pt;
  text-decoration: underline;
  cursor: pointer;
}

.LeftTab1{
  padding-left:50px;
}
.LeftTab2{
  padding-left:80px;
}
.LeftTab3{
  padding-left:110px;
}


header{

}

nav{
  /*vertical-align: middle;*/
  text-align: left;
  background-color: #cccccc;
  width: 1440px;
  margin: 0 auto;
}

.container{
  width:1440px;
  max-width: 1440px;
  padding-left:150px;
  padding-right:150px;
  margin: 0 auto;
}
